{% extends 'base.html' %}
{% block content %}

<div class="container-fluid px-0">
    <div id="carousel" class="carousel slide border-bottom" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% for post in post_list|slice:'0:1' %}
                <img src="{{ post.featured_image.url }}" class="d-block w-100" alt="img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ post.title | truncatechars:30 }}</h5>
                    <p>{{ post.created_on }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-item">
                {% for post in post_list|slice:'1:2' %}
                <img src="{{ post.featured_image.url }}" class="d-block w-100" alt="img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ post.title | truncatechars:30 }}</h5>
                    <p>{{ post.created_on }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-item">
                {% for post in post_list|slice:'2:3' %}
                <img src="{{ post.featured_image.url }}" class="d-block w-100" alt="img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ post.title | truncatechars:30 }}</h5>
                    <p>{{ post.created_on }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        {% for post in post_list %}
        <div class="col-md-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="image-container">
                        <a href="{% url 'post_detail' post.slug post.pk %}">
                            <img class="card-img-top rounded" src="{{ post.featured_image.url }}" alt="img">
                        </a>
                    </div>
                    <a href="{% url 'post_detail' post.slug post.pk %}" class="link-dark">
                        <h2 class="card-title mt-2">{{ post.title | truncatechars:15 }}</h2>
                    </a>
                    <p class="card-text">{{ post.content | striptags | truncatechars:30 }}</p>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        <p class="card-text text-muted h6">{{ post.number_of_likes }} <i
                                class="fa-regular fa-thumbs-up"></i> &#8739; {{ post.comments.count }} <i
                                class="fa-regular fa-comments"></i></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}