body {
    padding-top: 57px;
}


#carousel .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
}

footer {
    height: 100px;
}

textarea, input {
    background-color: #FAFAFB !important;
    border-radius: 5px !important;
}

img {
    max-width: 100% !important;
    border-radius: 5px !important;
}