body {
    padding-top: 57px;
}

#carousel .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
}

footer {
    height: 100px;
}

textarea, input {
    background-color: #E9ECEF !important;
    border-radius: 5px !important;
}

.card img {
    max-width: 100% !important;
    border-radius: 5px !important;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    max-height: 400px !important;
}

.asteriskField {
    display: none;
}

#div_id_featured_image {
    margin-block: 15px;
}

.note-float-left {
    margin-right: 10px;
}

.note-float-right {
    margin-left: 10px;
}

.note-float-left img,
.note-float-right img {
    max-width: 100% !important;
    border-radius: 5px !important;
}

.progress-bar {
    transition: 0s all !important;
}