{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="d-md-flex justify-content-between align-items-baseline mt-4 mb-2">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-dark">Hem</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'blog' %}"
                        class="link-dark">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page"><strong id="firstPost"></strong> - <strong
                        id="lastPost"></strong> av {{ num_posts }}</li>
            </ol>
        </nav>

        <div class="d-flex">
            <div class="dropdown-center">
                <span class="text-muted">Sortera efter</span>
                <a class="note-btn dropdown-toggle text-decoration-none rounded-end-0" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,5">
                    {% if sort_by == 'asc' %} Äldst först {% else %} Nyast först {% endif %}
                </a>

                <ul class="dropdown-menu"
                    style="max-height: 400px !important; overflow-y: auto !important; padding: 0 !important;">
                    <form action="{% url 'blog' %}">
                        <button class="dropdown-item note-btn border-0" type="submit" name="sort" value="desc">Nyast
                            först</button>
                        <li class="border-bottom"></li>
                        <button class="dropdown-item note-btn border-0" type="submit" name="sort" value="asc">Äldst
                            först</button>
                    </form>
                </ul>
            </div>

            <form action="{% url 'blog' %}" class="d-none d-md-block">
                {% if thumb == 'grid' %}<button class="note-btn border-start-0 rounded-start-0" type="submit"
                    name="thumb" value="list" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Visa lista"><i class="fa-solid fa-list"></i></button>{% endif %}
                {% if thumb == 'list' %}<button class="note-btn border-start-0 rounded-start-0" type="submit"
                    name="thumb" value="grid" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Visa nät"><i class="fa-solid fa-table-cells"></i></button>{% endif %}
            </form>
        </div>

    </div>

    <div class="row gx-md-5">
        {% for post in post_list %}
        <div class="{% if thumb == 'grid' %}col-md-4{% endif %} mb-4">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="image-container">
                        <a href="{% url 'post_detail' post.slug post.pk %}">
                            <img class="card-img-top rounded" src="{{ post.featured_image.url }}" alt="img">
                        </a>
                    </div>
                    <a href="{% url 'post_detail' post.slug post.pk %}" class="link-dark">
                        <h2 class="card-title mt-2">{% if thumb == 'grid' %}
                            {{ post.title | truncatechars:15 }}{% else %}{{ post.title | truncatechars:30 }}
                            {% endif %}</h2>
                    </a>
                    <p class="card-text">{% if thumb == 'grid' %}
                        {{ post.content | striptags | truncatechars:30 }}
                        {% else %}{{ post.content | striptags | truncatechars:60 }}{% endif %}</p>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        <p class="card-text text-muted h6">{{ post.number_of_likes }} <i
                                class="fa-regular fa-thumbs-up"></i> &#8739; {{ post.comments.count }} <i
                                class="fa-regular fa-comments"></i></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <div class="row mb-4">
            <div class="col text-end p-0">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort_by }}&thumb={{ thumb }}"
                    class="note-btn text-decoration-none border-end-0 rounded-end-0"><i
                        class="fa-solid fa-angle-left"></i> Föreg.</a>
                {% else %}
                <button class="note-btn disabled border-end-0 rounded-end-0"><i class="fa-solid fa-angle-left"></i>
                    Föreg.</button>
                {% endif %}
            </div>

            <div class="col-auto p-0">
                <span class="dropup-center dropup">
                    <a class="note-btn dropdown-toggle text-decoration-none rounded-0" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,25">Sida
                        <strong>{{ page_obj.number }}</strong> av {{ page_obj.paginator.num_pages }}</a>

                    <ul class="dropdown-menu"
                        style="max-height: 400px !important; overflow-y: auto !important; padding: 0 !important;">
                        {% for i in paginator.page_range %}
                        <li><a class="dropdown-item note-btn border-0"
                                href="?page={{ i }}&sort={{ sort_by }}&thumb={{ thumb }}"><strong>{{ i }}</strong> av
                                {{ page_obj.paginator.num_pages }}</a></li>
                        {% if not forloop.last %}
                        <li class="border-bottom"></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </span>
            </div>

            <div class="col p-0">
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort={{ sort_by }}&thumb={{ thumb }}"
                    class="note-btn text-decoration-none border-start-0 rounded-start-0">Nästa <i
                        class="fa-solid fa-angle-right"></i></a>
                {% else %}
                <button class="note-btn disabled border-start-0 rounded-start-0">Nästa <i
                        class="fa-solid fa-angle-right"></i></button>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endif %}

</div>


<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });

    $("#firstPost").html(({% if page_obj.has_previous %}'{{ page_obj.previous_page_number }}'{% else %} 0{% endif %} * 6) + 1 );
    $("#lastPost").html(({% if page_obj.has_previous %}'{{ page_obj.previous_page_number }}'{% else %} 0{% endif %} * 6) + {{ post_list | length }} );
</script>


{% endblock %}