{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-4">
        {% for post in post_list %}
        <div class="col-md-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="image-container">
                        <a href="{% url 'post_detail' post.slug post.pk %}">
                            <img class="card-img-top rounded" src="{{ post.featured_image.url }}" alt="img">
                        </a>
                    </div>
                    <a href="{% url 'post_detail' post.slug post.pk %}" class="link-dark">
                        <h2 class="card-title mt-2">{{ post.title | truncatechars:15 }}</h2>
                    </a>
                    <p class="card-text">{{ post.content | striptags | truncatechars:30 }}</p>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        <p class="card-text text-muted h6">{{ post.number_of_likes }} <i
                                class="fa-regular fa-thumbs-up"></i> &#8739; {{ post.comments.count }} <i
                                class="fa-regular fa-comments"></i></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}