{% extends 'base.html' %}
{% block content %}

<div class="container py-4">

    <div class="d-md-flex justify-content-between align-items-baseline">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-dark">Hem</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'blog' %}"
                        class="link-dark">Blog</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title | truncatechars:30 }}</li>
            </ol>
        </nav>

        {% if request.user == post.author %}
        <div class="d-flex">

            <a href="{% url 'post_update' post.slug post.pk %}" class="note-btn rounded-end-0 text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Uppdatera post">Uppdatera <i
                    class="fa fa-edit"></i></a>

            <span data-bs-toggle="modal" data-bs-target="#PostDModal"><button type="button"
                    class="note-btn rounded-start-0" style="margin-left: -5px;" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="Radera post">Radera <i
                        class="fa-solid fa-x"></i></button></span>

            <div class="modal fade" id="PostDModal" tabindex="-1" aria-labelledby="PostDModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="PostDModalLabel"><i
                                    class="fa-solid fa-circle-exclamation fa-beat-fade text-danger"></i>
                                Radera post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="h6"><u>{{ post.title | truncatechars:30 }}</u></p>
                            <div class="px-3">
                                <p>{{ post.content | striptags | truncatechars:60 }}</p>
                            </div>
                            <p class="text-muted h6"><small>{{ post.created_on }}</small></p>
                        </div>

                        <div class="modal-footer justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Radera denna post
                                    {% if post.comments.count %}
                                    och {{ post.comments.count }} kommentarer
                                    {% endif %}
                                </label>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <form id="postDelete" action="{% url 'post_delete' post.slug post.pk %}" method="POST"
                                class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark btn-sm">Radera</button>
                            </form>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                data-bs-dismiss="modal">Avbryt</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

    </div>

    <div class="row">
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body p-0">
                    <div class="image-container">
                        <img class="card-img-top rounded box-img-lg" src="{{ post.featured_image.url }}" alt="img">
                    </div>
                    <h2 class="card-title mt-4"><u>{{ post.title }}</u></h2>
                    <div class="px-md-3">
                        <p class="card-text">{{ post.content | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-zoom" id="imgModal" tabindex="-1" aria-labelledby="imgModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content bg-transparent border-0">
                <div class="modal-header border-0" data-bs-dismiss="modal">
                    <button type="button" class="btn-close btn-close-white fade-in" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" data-bs-dismiss="modal">
                    <img id="imgModalSrc" class="img-fluid rounded" src="#" alt="img"
                        style="max-height: 95% !important;">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
            <div class="d-block d-md-flex justify-content-between align-items-center">
                <div class="pb-2 pb-md-0">
                    <p class="card-text text-muted h6">{{ post.created_on }}</p>
                </div>

                <div class="d-flex align-items-center">
                    {% if user.is_authenticated %}
                    <form action="{% url 'post_like' post.slug post.pk %}" method="POST" class="me-1">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                            class="btn btn-sm btn-dark ps-0 overflow-hidden" aria-label="like" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Ta bort gilla">
                            <span class="bg-secondary bg-gradient bg-opacity-25 p-2 m-0">
                                <strong>{{ post.number_of_likes }}</strong>
                                <i class="fa-solid fa-thumbs-up"></i></span> <span class="p-2">Gillar</span></button>

                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                            class="btn btn-sm btn-dark ps-0 overflow-hidden" aria-label="like" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Lägg till gilla">
                            <span class="bg-secondary bg-gradient bg-opacity-25 p-2 m-0">
                                <strong>{{ post.number_of_likes }}</strong>
                                <i class="fa-regular fa-thumbs-up"></i></span> <span class="p-2">Gilla</span></button>
                        {% endif %}
                    </form>
                    {% endif %}
                    {% with comments.count as total_comments %}
                    {% if user.is_authenticated %}
                    {% if commented %}
                    <button id="commentBtn" class="btn btn-sm btn-dark ps-0 overflow-hidden" aria-label="comment"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lägg till kommentar">
                        <span class="bg-secondary bg-gradient bg-opacity-25 p-2 m-0">
                            <strong>{{ total_comments }}</strong> <i class="fa-solid fa-comments"></i></span> <span
                            class="p-2">Kommenterat</span></button>
                    {% else %}
                    <button id="commentBtn" class="btn btn-sm btn-dark ps-0 overflow-hidden" aria-label="comment"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lägg till kommentar">
                        <span class="bg-secondary bg-gradient bg-opacity-25 p-2 m-0">
                            <strong>{{ total_comments }}</strong> <i class="fa-regular fa-comments"></i></span>
                        <span class="p-2">Kommentera</span></button>
                    {% endif %}
                    {% else %}
                    <p class="card-text text-muted h6">{{ post.number_of_likes }} <i
                            class="fa-regular fa-thumbs-up"></i> &#8739; {{ post.comments.count }} <i
                            class="fa-regular fa-comments"></i></p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row mt-md-4">
        <div class="col col-md-auto mx-auto">

            <div class="d-md-flex justify-content-between align-items-baseline text-center">
                <span class="h5 me-5">
                    <u>Kommentarer</u>({% with comments.count as total_comments %}{{ total_comments }}{% endwith %})
                </span>

                <div class="dropdown-center pt-2 pt-md-0">
                    <span class="ms-auto p-1 text-muted">Sortera efter</span>

                    <a class="note-btn dropdown-toggle text-decoration-none" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" data-bs-offset="0,5">
                        {% if asc_com == 'asc_com' %} Äldst först {% else %} Nyast först {% endif %}
                    </a>

                    <ul class="dropdown-menu"
                        style="max-height: 400px !important; overflow-y: auto !important; padding: 0 !important;">
                        <form action="{% url 'post_detail' post.slug post.pk %}">
                            <button class="dropdown-item note-btn border-0" type="submit" name="sort_com"
                                value="desc_com">Nyast först</button>
                            <li class="border-bottom"></li>
                            <button class="dropdown-item note-btn border-0" type="submit" name="sort_com"
                                value="asc_com">Äldst först</button>
                        </form>
                    </ul>
                </div>
            </div>

            <ol class="p-0" reversed style="list-style-position:inside;">
                <hr>
                {% for comment in comments %}
                <div class="comments-all commentId" style="visibility: hidden; height: 0px;">
                    <li class="position-relative p-1 rounded">
                        <span class="text-capitalize h6"><u>{{ comment.author }}</u> <small class="text-muted">
                                {{ comment.created_on }}</small></span>

                        {% if request.user == comment.author %}
                        <span class="position-absolute top-0 end-0">

                            <span data-bs-toggle="modal" data-bs-target="#commentUModal{{ comment.pk }}"><button
                                    type="button" class="note-btn rounded-end-0 p-1 px-2" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Uppdatera kommentar"><i
                                        class="fa-solid fa-edit"></i></button></span>

                            <span data-bs-toggle="modal" data-bs-target="#commentDModal{{ comment.pk }}"><button
                                    type="button" class="note-btn rounded-start-0 p-1 px-2" style="margin-left: -5px;"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Radera kommentar"><i
                                        class="fa-solid fa-x"></i></button></span>
                        </span>

                        <div class="modal fade" id="commentUModal{{ comment.pk }}" tabindex="-1"
                            aria-labelledby="commentUModalLabel" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="commentUModalLabel"><i
                                                class="fa-solid fa-circle-exclamation text-muted fa-beat-fade"
                                                style="--fa-beat-fade-opacity: 0.67;"></i>
                                            Uppdatera kommentar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-capitalize h6"><u>{{ comment.author }}</u> <small
                                                class="text-muted">
                                                {{ comment.created_on }}</small></p>
                                        <form id="updateForm{{comment.id}}"
                                            action="{% url 'comment_update' post.slug comment.pk %}" method="POST"
                                            class="d-inline" novalidate>
                                            {% csrf_token %}
                                            {{ update_form | crispy }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-dark btn-sm">Uppdatera</button>
                                        </form>
                                        <button type="button" class="btn btn-outline-dark btn-sm"
                                            data-bs-dismiss="modal">Avbryt</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="commentDModal{{ comment.pk }}" tabindex="-1"
                            aria-labelledby="commentDModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="commentDModalLabel"><i
                                                class="fa-solid fa-circle-exclamation fa-beat-fade text-danger"></i>
                                            Radera kommentar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="text-capitalize h6"><u>{{ comment.author }}</u> <small
                                                class="text-muted">
                                                {{ comment.created_on }}</small></span>
                                        <div class="px-3">
                                            <p>{{ comment.body | safe | linebreaks | truncatechars:100 }}</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'comment_delete' post.slug comment.pk %}" method="POST"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-dark btn-sm">Radera</button>
                                        </form>
                                        <button type="button" class="btn btn-outline-dark btn-sm"
                                            data-bs-dismiss="modal">Avbryt</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="px-md-3">
                            <p>{{ comment.body | safe | linebreaks }}</p>
                        </div>

                        <div id="commentBody{{comment.id}}" class="d-none">
                            {{ comment.body }}
                        </div>

                        <script>
                            var commentBody = $('#commentBody{{comment.id}}').html()
                            $("#updateForm{{comment.id}} textarea").html(commentBody.slice(29, -25));
                        </script>
                    </li>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                </div>
                {% empty %}
                <div>
                    0. <span class="h6"><u> Kommentarer</u> <small class="text-muted">
                            sedan {{ post.created_on }}</small></span>
                </div>
                <hr>
                {% endfor %}
                <div class="text-center">
                    <button id="commentShow" class="note-btn rounded-end-0"></button>
                    <button id="commentShowAll" class="note-btn border-start-0 rounded-start-0"
                        style="margin-left: -4px !important;">Visa alla</button>
                    <button id="commentHide" class="note-btn" style="display: none;">Minimera Kommentarer</button>
                </div>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form id="addCommentForm" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form | crispy }}
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-dark mt-3">Lägg till</button>
                {% endif %}
            </form>
        </div>
    </div>

</div>

<style>
    img {
        cursor: pointer;
    }

    .modal.modal-zoom.fade:not(.show) .modal-dialog {
        transform: scale(0.8);
    }

    .fade-in {
        opacity: 0;
        animation: fadeIn 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<script>
    $(function() {
        $("img").click(function () {
            let url = $(this).attr('src');
            $('#imgModalSrc').attr('src', url);
            $('.fade-in').css("visibility", "visible");
            $('#imgModal').modal('toggle');
        });

        var imgModal = document.getElementById("imgModal");
        imgModal.addEventListener("hide.bs.modal", function () {
            $('.fade-in').css("visibility", "hidden");
        });
    });

    $("p").children("img").attr('alt', 'upload-img');

    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });

    $("#commentBtn").click(function () {
        $('.form-control').focus();
    });

    {% if not user.is_authenticated %}
    $("#addCommentForm .form-control").attr("readonly", "true");
    $("#addCommentForm .form-control").attr("placeholder", "Logga in för att kommentera.");
    {% endif %}

    let numcommentId = $(".commentId").length;

    $(".commentId").slice(0, 3).css({ "visibility": "visible", "height": "100%" });

    $(function () {
        if (numcommentId >= 6) {
            $("#commentShow").html(`Visa kommentar ${numcommentId - 3} till ${numcommentId - 6}`);
        } else if (numcommentId <= 6 && numcommentId > 3) {
            $("#commentShow").html(`Visa kommentar ${numcommentId - 3} till 0`);
        } else {
            $("#commentShow").hide();
            $("#commentShowAll").hide();
        }
    });

    $("#commentShow").click(function () {
        $(".commentId").slice(3, 6).css({ "visibility": "visible", "height": "100%" }).hide().slideDown();
        $(".commentId").slice(0, 3).removeClass('commentId');
        numcommentId = $(".commentId").length;

        if (numcommentId >= 6) {
            $("#commentShow").html(`Visa kommentar ${numcommentId - 3} till ${numcommentId - 6}`);
        } else if (numcommentId <= 6 && numcommentId > 3) {
            $("#commentShow").html(`Visa kommentar ${numcommentId - 3} till 0`);
        } else {
            $("#commentShow").hide();
            $("#commentShowAll").hide();
            $("#commentHide").show();
        }
    });

    $("#commentShowAll").click(function () {
        $(".commentId").css({ "visibility": "visible", "height": "100%" });
        $("#commentShow").hide();
        $("#commentShowAll").hide();
        $("#commentHide").show();
    });

    $("#commentHide").click(function () {
        $(".comments-all").addClass("commentId");
        $(".commentId").css({ "visibility": "hidden", "height": "0px" });
        $(".commentId").slice(0, 3).css({ "visibility": "visible", "height": "100%" });
        numcommentId = $(".commentId").length;
        if (numcommentId >= 6) {
            $("#commentShow").html(`Visa kommentar ${numcommentId - 3} till ${numcommentId - 6}`);
        } else if (numcommentId <= 6 && numcommentId > 3) {
            $("#commentShow").html(`Visa kommentar ${numcommentId - 3} till 0`);
        }
        $("#commentShow").show();
        $("#commentShowAll").show();
        $("#commentHide").hide();
    });

    $("#addCommentForm textarea").attr("rows", "1");

    {% if user.is_authenticated %}
    $("#addCommentForm textarea").focus(function () {
        $(this).animate({ rows: 10 }, 500);
        $('html, body').animate({
            scrollTop: $("#addCommentForm button").offset().top
        }, 250);

    });

    $("#addCommentForm textarea").focusout(function () {
        if (!$(this).val()) {
            $(this).animate({ rows: 1 }, 500);
        }
    });
    {% endif %}

    $("#postDelete").addClass("disabled");
    $("#postDelete :submit").addClass("disabled");

    $("#flexCheckDefault").change(function () {
        if ($(this).prop('checked')) {
            $("#postDelete").removeClass("disabled");
            $("#postDelete :submit").removeClass("disabled");
        } else {
            $("#postDelete").addClass("disabled");
            $("#postDelete :submit").addClass("disabled");
        }
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.min.js"></script>
<script>
    window.addEventListener("load", () => {

        const colorThief = new ColorThief();
        const imgLg = document.querySelector(".box-img-lg");
        imgLg.crossOrigin = 'Anonymous';

        if (imgLg.complete) {
            const dominantRGB = colorThief.getColor(imgLg);
            imgLg.style.transition = "box-shadow 5s ease-in";
            imgLg.style.boxShadow = "rgb(" + dominantRGB + ") 0px 25px 100px -50px";

        } else {
            imgLg.addEventListener('load', function () {
                const dominantRGB = colorThief.getColor(imgLg);
                imgLg.style.transition = "box-shadow 5s ease-in";
                imgLg.style.boxShadow = "rgb(" + dominantRGB + ") 0px 25px 100px -50px";
            });
        }
    });
</script>

{% endblock %}