{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="image-container">
                        <img class="card-img-top rounded" src="{{ post.featured_image.url }}" alt="img">
                    </div>
                    <h2 class="card-title mt-2 text-capitalize"><u>{{ post.title | truncatechars:30 }}</u></h2>
                    <p class="card-text">{{ post.content | safe }}</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        <div class="d-flex align-items-center">
                            {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn text-muted"
                                    aria-label="like">
                                    {{ post.number_of_likes }}
                                    <i class="fa-solid fa-thumbs-up"></i> Gilla</button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn text-muted"
                                    aria-label="like">
                                    {{ post.number_of_likes }}
                                    <i class="fa-regular fa-thumbs-up"></i> Gilla</button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary text-muted">{{ post.number_of_likes }} <i
                                    class="fa-regular fa-thumbs-up"></i></span>
                            {% endif %}
                            &#8739;
                            {% with comments.count as total_comments %}
                            <button id="commentBtn" class="btn text-muted" aria-label="comment">{{ total_comments }}
                                {% if commented %}<i class="fa-solid fa-comments"></i>{% else %}<i
                                    class="fa-regular fa-comments"></i>{% endif %}
                                Kommentera</button>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="h5 ps-3"><u>
                        Kommentarer</u>({% with comments.count as total_comments %}{{ total_comments }}{% endwith %})
                </p>
            </div>
            <div class="col-md-8 mt-1">
                <ol class="ps-3" reversed style="list-style-position:inside;">
                    <hr class="text-muted">
                    {% for comment in comments %}
                    <li>
                        <span class="text-capitalize h6"><u>{{ comment.author }}</u> <small class="text-muted h7">
                                {{ comment.created_on }}</small></span>
                        <p>{{ comment.body | safe | linebreaks }}</p>
                    </li>
                    <hr class="text-muted">
                    {% empty %}
                    <div>
                        0. <span class="h6"><u> Kommentarer</u> <small class="text-muted h7">
                                sedan {{ post.created_on }}</small></span>
                    </div>
                    <hr class="text-muted">
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col mb-4">
                <form method="POST" novalidate class="ps-3" id="myText">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <br>
                    <button type="submit" class="btn btn-dark">Lägg till</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Summernote -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-sv-SE.min.js"
    integrity="sha512-tLdTOnY7hwU+YiYQnx7TWDyRQTfucM4Y0x+ePIBvRVOYZfoBwZZOd1o6BKRM2WMwwC8XgzyLNXOL0g4eR+G/0Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.summernoteinplacewidget').summernote({
        lang: 'sv-SE',
        height: '200px',
        disableDragAndDrop: true,
        toolbar: [
            ['font', ['bold', 'underline']],
        ],
        placeholder: 'Kommentar...',
    });

    $("p").children("img").attr('alt', 'upload-img');

    $("#commentBtn").click(function () {
        $('.note-editable').focus();
    });
</script>

{% endblock %}