{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <div class="card border-0">
                <div class="card-body">
                    <div class="image-container">
                        <img class="card-img-top rounded" src="{{ post.featured_image.url }}" alt="img">
                    </div>
                    <h2 class="card-title mt-2 text-capitalize"><u>{{ post.title | truncatechars:30 }}</u></h2>
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="ps-3">
                    <hr>
                    <div class="d-block d-md-flex justify-content-between align-items-center">
                        <div class="mb-4">
                            <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                                    class="note-btn rounded-end-0" aria-label="like" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Ta bort gilla">
                                    {{ post.number_of_likes }}
                                    <i class="fa-solid fa-thumbs-up"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                                    class="note-btn rounded-end-0" aria-label="like" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Lägg till gilla">
                                    {{ post.number_of_likes }}
                                    <i class="fa-regular fa-thumbs-up"></i> Gilla</button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary text-muted">{{ post.number_of_likes }} <i
                                    class="fa-regular fa-thumbs-up"></i></span>
                            {% endif %}
                            {% with comments.count as total_comments %}
                            {% if user.is_authenticated %}
                            {% if commented %}
                            <button id="commentBtn" class="note-btn border-start-0 rounded-start-0" aria-label="comment"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lägg till kommentar">
                                {{ total_comments }} <i class="fa-solid fa-comments"></i></button>
                            {% else %}
                            <button id="commentBtn" class="note-btn border-start-0 rounded-start-0" aria-label="comment"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lägg till kommentar">
                                {{ total_comments }} <i class="fa-regular fa-comments"></i>
                                Kommentera</button>
                            {% endif %}
                            {% else %}
                            <span class="text-secondary text-muted">{{ total_comments }} <i
                                    class="fa-regular fa-comments"></i></span>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mt-4">
                <p class="h5 ps-3" style="margin-top: 10px;"><u>
                        Kommentarer</u>({% with comments.count as total_comments %}{{ total_comments }}{% endwith %})
                </p>
            </div>
            <div class="col-md-8 mt-1">
                <ol class="ps-3" reversed style="list-style-position:inside;">
                    <hr class="text-muted">
                    {% for comment in comments %}
                    <li>
                        <span class="text-capitalize h6"><u>{{ comment.author }}</u> <small class="text-muted">
                                {{ comment.created_on }}</small></span>

                        {% if request.user == comment.author %}
                        <button type="button" class="note-btn rounded-end-0 p-1 px-2" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Uppdatera kommentar"><i
                                class="fa-solid fa-edit"></i></button>

                        <span data-bs-toggle="modal" data-bs-target="#commentModal{{ comment.pk }}"><button
                                type="button" class="note-btn rounded-start-0 p-1 px-2" style="margin-left: -5px;"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Radera kommentar"><i
                                    class="fa-solid fa-x"></i></button></span>

                        <div class="modal fade" id="commentModal{{ comment.pk }}" tabindex="-1"
                            aria-labelledby="commentModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="commentModalLabel"><i
                                                class="fa-solid fa-circle-exclamation"></i> Radera kommentar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="text-capitalize h6 "><u>{{ comment.author }}</u> <small
                                                class="text-muted">
                                                {{ comment.created_on }}</small></span>
                                        <p>{{ comment.body | safe | linebreaks | truncatechars:100 }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'comment_delete' post.slug comment.pk %}" method="POST"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-dark btn-sm">Radera</button>
                                        </form>
                                        <button type="button" class="btn btn-outline-dark btn-sm"
                                            data-bs-dismiss="modal">Avbryt</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <p>{{ comment.body | safe | linebreaks }}</p>
                    </li>
                    <hr class="text-muted">
                    {% empty %}
                    <div>
                        0. <span class="h6"><u> Kommentarer</u> <small class="text-muted">
                                sedan {{ post.created_on }}</small></span>
                    </div>
                    <hr class="text-muted">
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col mb-4">
                <form method="POST" enctype="multipart/form-data" novalidate class="ps-3">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-dark">Lägg till</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Summernote -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-sv-SE.min.js"
    integrity="sha512-tLdTOnY7hwU+YiYQnx7TWDyRQTfucM4Y0x+ePIBvRVOYZfoBwZZOd1o6BKRM2WMwwC8XgzyLNXOL0g4eR+G/0Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.summernoteinplacewidget').summernote({
        lang: 'sv-SE',
        height: '200px',
        disableDragAndDrop: true,
        toolbar: [
            ['font', ['bold', 'italic', 'underline']],
        ],
        placeholder: {% if user.is_authenticated %}'Kommentar...'{% else %}'Logga in för att kommentera.'{% endif %},
        callbacks: {
        onPaste: function (e) {
            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
            e.preventDefault();
            document.execCommand('insertText', false, bufferText);
        }
    }
    });

    $("p").children("img").attr('alt', 'upload-img');

    $(".note-editable").addClass('form-control');

    $("#commentBtn").click(function () {
        $('.note-editable').focus();
    });

    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });

    {% if not user.is_authenticated %}
    $(".note-editable").attr("contenteditable", "false")
    {% endif %}

</script>

{% endblock %}