{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <div class="card mb-4 border-0">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <button type="submit" class="btn btn-dark">Lägg till</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}