{% extends "base.html" %}

{% block content %}

{{ form.media }}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <div class="card mb-4 border-0">
                <div class="card-body p-0">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form | crispy | safe }}
                        <br>
                        <button type="submit" class="btn btn-dark">Lägg till</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Summernote -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-sv-SE.min.js"
    integrity="sha512-tLdTOnY7hwU+YiYQnx7TWDyRQTfucM4Y0x+ePIBvRVOYZfoBwZZOd1o6BKRM2WMwwC8XgzyLNXOL0g4eR+G/0Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.summernoteinplacewidget').summernote({
        lang: 'sv-SE',
        height: '50vh',
        disableDragAndDrop: true,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture']],
            ['view', ['fullscreen']],
        ],
        styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
        colorButton: {
            foreColor: '#DD3545',
            backColor: '#FFFFFF',
        },
        placeholder: 'Innehåll...',
        callbacks: {
            onPaste: function (e) {
                var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                e.preventDefault();
                document.execCommand('insertText', false, bufferText);
            }
        }
    });

    $(".note-editable").addClass('form-control');

    $("#error_1_id_featured_image strong").html("Ingen fil har valts.");

    if($("#error_1_id_content").length) {
        $(".note-editable").addClass('is-invalid');
        $(".note-editable").css("border", "1px solid #DD3545");
    }
</script>

<style>
    img {
        width: 300px;
        margin: 0 10px;
    }
</style>

{% endblock %}